body {
    margin: 0px;
    background: black;

}
#main {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}
#box1{
    width: 550px;
    height: 220px;
    background-image:url('realopensign.png');
    position: absolute;
    bottom: -100%;
    left: 37.5%;
    animation: anim 2s forwards, anim2 2s forwards 3s;
}
#box1:after{
    content: '';
    position: absolute;
    width: 550px;
    height: 220px;
    background-image:url('realopensign.png');
    left: 0px;
    z-index: -1;
}
@keyframes anim{
    from{
        bottom: -100%;

    }
    to{
        bottom: 10%;
    }
} 
@keyframes anim2 {
    from{
        left:37.5%;
        width:460px;

    }
    to{
        width:0px;
        left: 60%
    }
    
}
#box2{
    width:auto;
    height: auto;
    font-family: 'Bahnschrift Condensed';
    color:white;
    font-size: 7em;
    font-weight: 400;
    position: absolute;
    top: 250px;
    left: 110px;
    overflow: hidden;
}
#text{
    position: relative;
    left: -100%;
    animation: anim3 2s forwards 3s;
}
@keyframes anim3{
    from{
        left:-100%;
    }
    to{
        left:0%;
    }
}
#box3{
    overflow: hidden;
}
#container{
    width:100%;
    position:absolute;
    top:-100%;
    animation: anim4 2s forwards 2.5s;
}
#logo{
    float:left;
    margin-left:100px;
    margin-top: 20px;
    font-family: 'Snell Roundhand';
    color: white;
    font-size: 20px;
}

#nav{
    font-family: 'Bahnschrift Condensed';
    font-size:14px;
    color:white;
    letter-spacing: 2px;
    margin-right: 150px;
    margin-top: 20px;
    float:right;

}
#nav ul{
    list-style: none;

}
#nav ul li{
    display: inline-block;
    margin-left:100px;
}
@keyframes anim4 {
    from{
        top: -100%;
    }
    to{
        top: 0%;
    }
}