body {
    margin: 0px;
    background-color: black;
    height: 500vh;
}
#volumebutton {
    width: 4.5em;
    height: 4.5em;
    z-index: 2;
    border-radius: 2.2em;
    position: absolute;
    bottom: 50px;
    right: 60px;
    z-index: 1;
    cursor: pointer;
    border: none;
    background-color: rgb(155, 176, 201);
    color: white;
    visibility: visible;
}

#volumebutton .on {
    display: none;
}

.video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
    z-index: -1;
  }
  #video-container video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%; 
    min-height: 100%;
    filter: grayscale(); 
  
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
  
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

#main {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    
}
#box2{
    width:auto;
    height: auto;
    font-family: 'Bahnschrift Condensed';
    color:white;
    font-size: 6vmax;
    font-weight: 400;
    position: absolute;
    top: 250px;
    left: 110px;
    overflow: hidden;
}
#text{
    position: relative;
    left: -100%;
    animation: anim3 forwards 3s;
}
@keyframes anim3{
    from{
        left:-100%;
    }
    to{
        left:0%;
    }
}

#container{
    width:100%;
    position:absolute;
    top:-100%;
    animation: anim4 forwards 2s;
    background: rgba(0,0,0,.3);
    overflow: hidden;

}
@keyframes anim4 {
    from{
        top: -100%;
    }
    to{
        top: 0%;
    }
}
#logo{
    float:left;
    margin-left:100px;
    margin-top: 20px;
    font-family: 'Snell Roundhand';
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

#nav{
    display: flex;
    font-family: 'Bahnschrift Condensed';
    font-size:14px;
    color:white;
    letter-spacing: 2px;
    margin-right: 150px;
    margin-top: 20px;
    float:right;
}
#nav ul{
    list-style: none;

}
#nav ul li{
    display: inline-block;
    margin-left:100px;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: white;
}